.head {
  height: 16px;
  background-color: lightseagreen;
  border: 2px solid lightseagreen;
  display: flex;
  top: 0;
  overflow: hidden;
  align-items: center;
  gap: 4px;
  position: sticky;
  z-index: 5;
}
.circle {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 3px;
}

.border-project:hover {
  animation: zoom 1s ease-in-out;
  cursor: pointer;
}
@keyframes zoom {
  50% {
    scale: 1.02;
  }
  100% {
    scale: 1;
  }
}
