.head {
  height: 16px;
  background-color: darkgray;
  border: 2px solid darkgray;
  display: flex;
  top: 0;
  overflow: hidden;
  align-items: center;
  gap: 4px;
}
.circle {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
